*{
	margin: 0;
	padding: 0;
}

body{
	background: #eee;
	color: #393e4d;
	font-family: 'Roboto', sans-serif;
}


h1{
	text-align: center;
	padding: 20px 0;
	font-size: 55px;
}

h2{
	text-align: center;
	padding: 20px 0;
	font-size: 55px;
}

.grid, 
.grid-pixeles,
.grid-porcentajes,
.grid-repeat,
.grid-area{
	display: grid;
	width: 90%;
	max-width: 1000px;
	border: 10px solid #393e4d;
	margin: auto;
	font-size: 40px;
	line-height: 40px;
	text-align: center;
}

.grid div,
.grid-pixeles div,
.grid-porcentajes div,
.grid-repeat div,
.grid-area div{
	display: block;
	padding: 20px;
	color: #fff;
	background: #2cbab5;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.25);
}


.grid-flexbox,
.grid-flexbox2 {
	display: grid;
	width: 90%;
	max-width: 1000px;
	border: 10px solid #393e4d;
	margin: auto;
	font-size: 40px;
	line-height: 40px;
	gap: 50px;
	box-sizing: border-box;
	background-color: #7c86a3;
}


.grid-flexbox{ grid-template-columns: repeat(2, 1fr);}
.grid-flexbox2{ grid-template-columns: repeat(4, 1fr); gap: 35px;}


.grid-flexbox div,
.grid-flexbox2 div{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 30px;
	color: #fff;
	background: #2cbab5;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.25);
	min-height: 80px;
	box-sizing: border-box;
}
